---
import '@/styles/github.css';
import { getCollection, render } from 'astro:content';
import { Icon } from "astro-icon/components";
import BaseLayout from '@/layouts/BaseLayout.astro';
import Badge from '@/components/Badge.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import dayjs from 'dayjs';

export async function getStaticPaths() {
  const blogEntries = await getCollection('work');
  return blogEntries.map(entry => ({
    params: { slug: entry.id }, props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);

const developedStart = dayjs(entry.data.developedStart).format('YYYY/MM～');
const developedEnd = entry.data.developedEnd ? dayjs(entry.data.developedStart).format('YYYY/MM') : '';
const developed = developedStart + developedEnd;
---
<BaseLayout pageTitle={entry.data.title}>
  <a href="/works" class="flex items-center justify-center w-20 px-2 py-1 rounded-md bg-sky-100 text-sky-600 border-1 border-sky-600">
    <Icon name="tabler:chevron-left" size={20} />
    Back
  </a>
  <p class="text-sky-600 font-bold text-4xl my-3">
    {entry.data.title}
  </p>
  <div class="flex flex-wrap gap-x-5 gap-y-1 mb-6">
    <div class="flex items-center gap-0.5">
      <Icon name="tabler:calendar-code" />
      <p>{developed}</p>
    </div>
    {
      <Badge 
        label={entry.data.category} 
        link={`/categories/${entry.data.category}`} 
        icon='tabler:category'
      />
    }

    {
      entry.data.tags && 
      <div class="tagbar flex gap-2 overflow-x-auto">
        {
          entry.data.tags?.map((tag) => 
            <Badge label={tag} link={`/tags/${tag}`} icon='tabler:tag' />
          )
        }
      </div>
    }
  </div>

  <div class="flex flex-wrap gap-4">
    <aside class="w-12/12 md:w-3/12 md:order-2">
      <TableOfContents headings={headings}/>
    </aside>
    <article class="grow md:w-8/12 md:order-1">
      <hr class="h-1.5 border-t-0 bg-sky-600 rounded-t-full" />
      <div data-pagefind-body class="markdown-body px-8 py-6 rounded-b-lg bg-white">
        <Content />
      </div>
    </article>
  </div>
</BaseLayout>