---
import { Image } from 'astro:assets';
import Badge from './Badge.astro';

interface Props {
  title: string
  image: ImageMetadata
  description?: string
  id: string
  tags?: string[]
}

const { title, description, image, id, tags = [] } = Astro.props;
---
<div class="border-4 border-transparent hover:border-sky-200 rounded-lg">
  <figure>
    <Image src={image} alt="" class="rounded-t-lg object-cover h-30" />
  </figure>
  <div class="px-4">
    <a href={`/works/${id}`}>
      <h3 class="text-2xl">{title}</h3>
      <p class="mb-2 overflow-hidden whitespace-normal overflow-ellipsis">
        {description}
      </p>
    </a>
    <div class="flex flex-wrap mb-3 gap-1">
      {
        tags?.map((tag) => 
          <Badge label={tag} link={`/tags/${tag}`} icon='tabler:tag'/>
        )
      }
    </div>
  </div>
</div>