---
import { Image } from 'astro:assets';
import Badge from './Badge.astro';

interface Props {
  title: string
  image: ImageMetadata
  description?: string
  id: string
  tags?: string[]
}

const { title, description, image, id, tags = [] } = Astro.props;
---
<div class="border-4 border-sky-200 md:border-transparent hover:border-sky-200 rounded-2xl">
  <a href={`/works/${id}`}>
    <figure>
      <Image src={image} alt="" class="rounded-t-xl object-cover h-30" />
    </figure>
  </a>
  <div class="p-3 pt-2">
    <a href={`/works/${id}`}>
      <h3 class="text-2xl">{title}</h3>
      <p class="mb-2 line-clamp-1">
        {description}
      </p>
    </a>
    <div class="flex flex-wrap gap-1">
      {
        tags?.map((tag) => 
          <Badge label={tag} link={`/tags/${tag}`} icon='tabler:tag'/>
        )
      }
    </div>
  </div>
</div>